<h2 class="title-font-color">Edit Animal Information.</h2>
<hr>

<%= render partial: 'form', locals: { source: 'edit' } %>

<br>
<center>
  <%= link_to 'Not Now? Get me back to Zoo.', zooo_path(@zooo), class: 'regular-color' %>
</center>
