<h2 class="title-font-color">Add New Animal</h2>
<hr>
<br>

<%= render partial: 'form', locals: { source: 'new' } %>

<br>
<center>
  <%= link_to 'Cancle', root_path, class: 'regular-color' %>
</center>
