.title-font {
  font-family: 'Baloo Bhaina', cursive;
}

.regular {
  font-family: 'Cabin Condensed', sans-serif;
}


.title-font-color {
  font-family: 'Baloo Bhaina', cursive;
  color: $main;
}

.regular-color {
  font-family: 'Cabin Condensed', sans-serif;
  color: $link;
}
