<h2 class="title-font-color">Edit Zooo</h2>
<hr>

<%= render 'form', zooo: @zooo %>

<br>
<center>
  <%= link_to 'Show', @zooo, class: 'regular-color' %> |
  <%= link_to 'Back', zooos_path, class: 'regular-color' %> |
  <%= link_to 'Destroy', @zooo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'regular-color' %>
</center>
