<h1 class="title-font-color">New Zooo</h1>
<hr>

<%= render 'form', zooo: @zooo %>

<br/>
<center>
  <%= link_to 'Not now i will add new zoo later ' , zooos_path, class: 'regular-color ' %>
</center>
